<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Normal console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger - %message%n</pattern>
        </encoder>
    </appender>

    <!-- File rolling appender -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:\projectgroup\group_base\logs\admin\admin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>120</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger - %message%n</pattern>
        </encoder>
    </appender>


    <!-- Turn off some annoying logger -->
    <logger name="com.quipoz.COBOLFramework.database.connection" level="DEBUG" additivity="false">
    </logger>
    <logger name="org.hibernate" level="DEBUG" additivity="false">
    </logger>
	
	<!--Logger for SAML-->
	<logger name="org.springframework.security.saml" level="${Logback.level}" additivity="false">
        <appender-ref ref="console" />
	</logger>
   
	<logger name="org.opensaml" level="${Logback.level}" additivity="false">
        <appender-ref ref="console" />
	</logger>

    <!-- Logger for integral -->
    <logger name="com.csc" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="com.quipoz" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>
<!-- Please don't change the log level of root -->
    <root level="ERROR">
        <appender-ref ref="console" />
    </root>
</configuration>
